<footer>
  <ul class="d-flex flex-wrap ">
    <li>
      <%= link_to "Страница ВК","https://vk.com/adamanq",class:"" %>
    </li>
    <li>
      <%= link_to "Страница inst","https://www.instagram.com/adamancry/",class:"" %>
    </li>
    <li>
      <%= link_to "Страница github","https://github.com/Adamanr",class:"" %>
    </li>
  </ul>
</footer>