<%= content_for :title, "Главная страница" %>

<!-------------------------- Шапка сайта -------------------------->

<div class="heads">
  <div class="textsa">
    <p class="">Главная страница проекта!</p>
  </div>
</div>

<!-------------------------------О проекте------------------------------------------>

  <p class="display-1 text-center">Проект <span style="color:red">Red</span><span style="color:cornflowerblue;">Sky</span></p>
  <ul class="d-flex justify-content-center  align-middle list-unstyled" style="width:40em; min-width: 50%; max-width: 100%; position: relative;
    margin:0 auto; margin-bottom: 2em">
    <li><hr style="width:0.5em; height:100%;margin-right: 2em"></li>
    <li class="w-100 fs-2 mt-3 ">Практический опыт показывает, что новая модель организационной деятельности играет важную роль в
      формировании дальнейших направлений развития проекта? Задача организации, в особенности же повышение уровня
      гражданского сознания создаёт предпосылки качественно новых шагов для дальнейших направлений развитая системы
      массового участия! Соображения высшего порядка, а также повышение уровня гражданского
      сознания влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.</li>
  </ul><br>

  <!-----------------------------------Наши мастера--------------------------------------------->
  <div class="price">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm">
          <h1 class="display-1">4$</h1>
          <hr>
          <ul class="fs-1" type="1">
            <li>Дизайн</li>
            <li>Хостинг</li>
          </ul>
        </div>
        <div class="col-sm">
          <h1 class="display-1">10$</h1><hr>
          <ul class="fs-1" type="1">
            <li>Дизайн</li>
            <li>Хостинг</li>
            <li>Поддержка</li>
          </ul>

        </div>
        <div class="col-sm">
          <h1 class="display-1">15$</h1>
          <hr>
          <ul class="fs-1" type="1">
            <li>Дизайн</li>
            <li>Хостинг</li>
            <li>Поддержка</li>
            <li>Улучшение</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------Причины выбрать компанию--------------------------------------------------------->

  <div class="advantage">
    <p class="display-3 w-100 text-center ">Почему стоит выбрать именно нашу компанию?</p>
    <ul class="d-flex flex-wrap text-center fs-2" type="1">
      <li class="w-50">Мы крутые</li>
      <li class="w-50">Лучше нас никого нет</li>
      <li class="w-50">Зачем кто-то, когда есть мы?</li>
      <li class="w-50">Лучше нас только каркас!</li>
      <li class="w-50">Ну кто вы, а кто мы!</li>
      <li class="w-50">Выберите пожалуйста нас</li>
    </ul>
  </div>


<!----------------------------------------------Заключительный блок----------------------------------------------------------->
<div class="m-0">
<%= render 'templates/footer' %>
</div>