
<div class="heads">
  <div class="textsa">
    <p class="w-100">Главная страница проекта!</p>
  </div>
  </div>
<div class="main"><br>
  <hr style="height: 0.3em"/>
  <p class="display-1 text-center">Проект <span style="color:red">Red</span><span style="color:cornflowerblue;">Sky</span></p>
  <ul class="d-flex justify-content-center list-unstyled">
    <li><hr style="width:0.5em; height:30em;margin-right: 2em"></li>
    <li class="w-50 fs-2 mt-3">Практический опыт показывает, что новая модель организационной деятельности играет важную роль в
      формировании дальнейших направлений развития проекта? Задача организации, в особенности же повышение уровня
      гражданского сознания создаёт предпосылки качественно новых шагов для дальнейших направлений развитая системы
      массового участия! Соображения высшего порядка, а также повышение уровня гражданского
      сознания влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.</li>
  </ul>
  <br><p class="w-75 align-content-lg-center fs-2 "></p>
  <hr style="height: 0.3em"/>
  <table class="table">
    <thead class="wtw">
    <p class="display-1 text-center">Наши мастера</p>
    </thead>
    <tbody>
    <tr>
      <td class="">
        <img src="https://sun9-5.userapi.com/impg/mf71yWi1bDnuL2ggHPTq7KcsxHkhhTm-P3cNoQ/zTypMmAaogI.jpg?size=828x824&quality=96&sign=0334617321add857d987eb0854d15c76&type=album" />
      </td>
      <td colspan="2" class="">
        <p><b class="fs-2">Юрнеро</b> - очень дисциплинированный фехтовальщик, один из Джаггернаутов и последний выживший его член.
        Он родом с Острова Масок, потерянной земли, которая погрузилась в море. Суровый и серьёзный,
        Юрнеро живет по его чести и презирает глупых и озорных. Опираясь на пути лезвийной формы своей родины,
        Юрнеро победил многих зверей, демонов, мерзостей и бесконечно стремится улучшить свое ремесло.
          Он всегда носит маску на лице, возможно, из ритуальной преданности богам острова.</p>
      </td>
      <td  class="">
        <img src="https://sun9-85.userapi.com/impg/eeWfkczwJJTEjBiq0stH1xdJvY8y8qOPi-zahg/8T4h0Zqlc5c.jpg?size=503x461&quality=96&sign=5668421cf504fabdbabdc395356b6512&type=album" />
      </td>
      <td colspan="2" class="">
        <p><b class="fs-2">Sven</b> - мятежный рыцарь, наполовину Меранс по рождению. После того, как его отец был казнён за нарушение Вигильского кодекса,
          мать Sven скончалась, оставив его сиротой. Следуя лишь своему личному кодексу чести Sven- одинокий воин, владеющий Клинком изгоя,
          который обладает разрушительной силой.
          Он путешествует один ища чести и славы, а так же приобретая золото, в качестве наёмного фехтовальщика.</p>
      </td>
    <tr>
      <th scope="row" class="w-25">
        <img src="https://sun9-24.userapi.com/impg/-bSoU_ZibTKHW4WCwI-OO9LGDG82rqtIRJirbw/ZrNhBt32Y5o.jpg?size=600x530&quality=96&sign=744b5a308648ffdc7b67d967f102c353&type=album" />
      </th>
      <td colspan="2" class=""><p><b class="fs-2">Huskar</b> - Священный воин.
        Очнувшись от агонии священного мира Нотл, воин открыл глаза и узрел, как одарённый жрец теней накладывает на него глубокое заклятие.
        Вопреки древним обрядам ордена Дезун душа воина была спасена от вечности, но, как и все побывавшие в мире Нотл, он необратимо изменился.
        Более неподвластная смертной плоти, его кровь обратилась источником невообразимой силы;
        каждая пролитая капля с лихвой возвращалась лютой, горящей мощью.</p></td>
    </tr>
    </tbody>
  </table><br>
  <p class="display-3 text-center p2">Почему стоит выбрать именно нашу компанию?</p>

  <hr style="height: 0.3em"/><br>


</div>
