<% content_for :title, "Наборы" %>
<table class="table table-striped align-middle table-hover">
  <tr>
    <td class="display-3 text-center ">
      <p class="fw-bold">Стартовый</p>
      <p>3$</p></td>
    <td>
      <ul class="fs-1" type="1">
        <li>Дизайн</li>
        <li>Поддержка</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="display-3 text-center ">
      <p class="fw-bold">Стартовый+</p>
      <p>7$</p></td>
    <td>
      <ul class="fs-1" type="1">
        <li>Дизайн</li>
        <li>Поддержка</li>
        <li>Доработка</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="display-3 text-center ">
      <p class="fw-bold">Премиум</p>
      <p>12$</p></td>

    <td>
      <ul class="fs-1" type="1">
        <li>Дизайн</li>
        <li>Поддержка</li>
        <li>Доработка</li>
        <li>Админ-панель</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="display-3 text-center ">
      <p class="fw-bold">RARE GODS</p>
      <p>17$</p>
    </td>
    <td>
      <ul class="fs-1" type="1">
        <li>Дизайн</li>
        <li>Поддержка</li>
        <li>Доработка</li>
        <li>Админ-панель</li>
        <li>Своя ORM</li>
      </ul>
    </td>
  </tr>
</table>
<%= render 'templates/footer' %>
