<%= content_for :title, "Профиль" %>
<div class="profile">
  <div class="container form-control mt-5 pb-5">
    <div class="row text-center mt-5">
      <div class="col-sm w-100">
        <img src="https://sun9-31.userapi.com/impg/aMyrjn9yuN09M69sCURa8IKcxkWs2KtpUVbhKA/eImWq7cJpOs.jpg?size=767x785&quality=96&sign=06f8316a059797532e27c981b642a68c&type=album"/>
      </div>
      <div class="col-sm align-middle">
        <h1>Email профиля: </h1><%= @profile %>
      </div>

    </div>
  </div>
</div>